/* Header
-------------------------------------------------- */
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-left: auto;
    margin-right: auto;
}

.nav a {
    display: block;
    line-height: var(--header-height);
}


.logo,
.menu {
    margin: auto var(--gap);
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Noto Serif SC', serif;
}

.menu {
    display: flex;
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    font-family: 'Noto Serif SC', serif;
}

.menu li+li {
    margin-left: var(--gap);
}

.menu a {
    font-size: 16px;
}

.menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: rgba(var(--theme-rgb), 0.7);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    backdrop-filter: blur(20px);
    margin: -30px;
    z-index:-1;
}