.terms-tags li {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 8px;
}

.terms-tags a {
    display: block;
    padding: 2px 8px;
    background: var(--tertiary);
    border-radius: 4px;
    transition: transform 0.1s;
}

.terms-tags a sup {
    font-size: 0.1em;
}

.terms-tags a:hover {
    background: var(--tertiary);
    transform: scale(0.96);
}